#Definition of variables for the services used
NEXT_PUBLIC_URI_GRAPHQL=http://localhost:4000/graphql
NEXT_PUBLIC_URI_EXPGENE=http://localhost:4002/expression
NEXT_PUBLIC_URI_BLAST=http://localhost:4001
NEXT_PUBLIC_URI_JBROWSE=http://localhost:5000/
